/* CSS reset  */
*{
    margin: 0;
    padding: 0;
}

body {
    /* background-color: black; */
    background: url("../img/bg1.jpg") no-repeat center center fixed;
    opacity: 1.9;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
    letter-spacing: 2px;
}

img {
    border-radius: 50%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: auto;
    max-width: 100px;
}

.profile-name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.links {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid white;
    /* border-width: 2px; */
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 1s;
}

a:hover {
    color: #000;
    background: #fff;
}

.bottom-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
